.header{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  margin: auto;
}

.cell {
  border: 1px solid gray;
  flex: auto;
}
